@import "base/reset";
@import "base/ease";

html {
  background-color: #EEEEEE;
  box-sizing: border-box;
  color: #555555;
  font-family: 'aktiv-grotesk', sans-serif;
  font-size: 1em;
  line-height: 1.25;
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: inherit;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(#000, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding-left: 20px;
  padding-top: 20px;

  @media (min-width: 30em) {
    padding-left: 100px;
    padding-top: 100px;
  }
}

h1 {
  font-size: 3em;
  font-weight: 900;
  width: 100%;

  @media (min-width: 40em) {
    font-size: 5em;
  }
}
h2 {
  font-size: 2em;
  font-style: italic;
  font-weight: 200;
  text-transform: lowercase;

  @media (min-width: 40em) {
    font-size: 3em;
  }
}
a {
  color: #0D8DB8;
  text-decoration: none;
}

.linkedin-button {
  font-family: Helvetica,Arial,freesans,clean,sans-serif;
  font-size: 13px;
  font-weight: 700;

  a {
    color: #333;
  }
}

.buttons {
  padding: 100px 0;
  width: 100%;
  iframe,
  .linkedin-button {
    display: block;
    margin-bottom: 5px;
  }
}
