<h1>David Pett</h1>
<h2>i build stuff.</h2>

{{outlet}}
<div class="buttons">
  <span class="linkedin-button"><script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/davidpett" data-format="click" data-related="false" data-text="David Pett"></script></span>
  <a href="https://twitter.com/pettpett" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @pettpett</a>
  <a class="github-button" href="https://github.com/davidpett" data-style="mega" aria-label="Follow @davidpett on GitHub">Follow @davidpett</a>
</div>
